/*
* Skeleton V1.2 improved by IG Design
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* Table of Contents
==================================================
	#Base 1320 Grid
	#Base 1200 Grid
    #Base 960 Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing */


/* #Base 1320 Grid
================================================== */

.container {
	position: relative;
	width: 1320px;
	margin: 0 auto;
	padding: 0;
}

.container .column,
.container .columns {
	float: left;
	display: inline;
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 25px;
	margin-bottom: 25px;
}

.row {
	margin-bottom: 50px;
}


/* Nested Column Classes */

.column.alpha,
.columns.alpha {
	margin-left: 0;
}

.column.omega,
.columns.omega {
	margin-right: 0;
}


/* Base Grid */

.container .one.column,
.container .one.columns {
	width: 60px;
}

.container .two.columns {
	width: 170px;
}

.container .three.columns {
	width: 280px;
}

.container .four.columns {
	width: 390px;
}

.container .five.columns {
	width: 500px;
}

.container .six.columns {
	width: 610px;
}

.container .seven.columns {
	width: 720px;
}

.container .eight.columns {
	width: 830px;
}

.container .nine.columns {
	width: 940px;
}

.container .ten.columns {
	width: 1050px;
}

.container .eleven.columns {
	width: 1160px;
}

.container .twelve.columns {
	width: 1270px;
}

.container .one-fifth.column {
	width: 214px;
}

.container .two-fifths.column {
	width: 478px;
}

.container .three-fifths.column {
	width: 742px;
}

.container .four-fifths.column {
	width: 1006px;
}


/* Offsets */

.container .offset-by-one {
	padding-left: 110px;
}

.container .offset-by-two {
	padding-left: 220px;
}

.container .offset-by-three {
	padding-left: 330px;
}

.container .offset-by-four {
	padding-left: 440px;
}

.container .offset-by-five {
	padding-left: 550px;
}

.container .offset-by-six {
	padding-left: 660px;
}

.container .offset-by-seven {
	padding-left: 770px;
}

.container .offset-by-eight {
	padding-left: 880px;
}

.container .offset-by-nine {
	padding-left: 990px;
}

.container .offset-by-ten {
	padding-left: 1100px;
}

.container .offset-by-eleven {
	padding-left: 1210px;
}


/* #Base 1200 Grid
================================================== */

@media only screen and (min-width: 1200px) and (max-width: 1319px) {
	.container {
		position: relative;
		width: 1200px;
		margin: 0 auto;
		padding: 0;
	}
	.container .column,
	.container .columns {
		float: left;
		display: inline;
		margin-left: 10px;
		margin-right: 10px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.row {
		margin-bottom: 20px;
	}
	/* Nested Column Classes */
	.column.alpha,
	.columns.alpha {
		margin-left: 0;
	}
	.column.omega,
	.columns.omega {
		margin-right: 0;
	}
	/* Base Grid */
	.container .one.column,
	.container .one.columns {
		width: 80px;
	}
	.container .two.columns {
		width: 180px;
	}
	.container .three.columns {
		width: 280px;
	}
	.container .four.columns {
		width: 380px;
	}
	.container .five.columns {
		width: 480px;
	}
	.container .six.columns {
		width: 580px;
	}
	.container .seven.columns {
		width: 680px;
	}
	.container .eight.columns {
		width: 780px;
	}
	.container .nine.columns {
		width: 880px;
	}
	.container .ten.columns {
		width: 980px;
	}
	.container .eleven.columns {
		width: 1080px;
	}
	.container .twelve.columns {
		width: 1180px;
	}
	.container .one-fifth.column {
		width: 220px;
	}
	.container .two-fifths.column {
		width: 460px;
	}
	.container .three-fifths.column {
		width: 700px;
	}
	.container .four-fifths.column {
		width: 940px;
	}
	/* Offsets */
	.container .offset-by-one {
		padding-left: 100px;
	}
	.container .offset-by-two {
		padding-left: 200px;
	}
	.container .offset-by-three {
		padding-left: 300px;
	}
	.container .offset-by-four {
		padding-left: 400px;
	}
	.container .offset-by-five {
		padding-left: 500px;
	}
	.container .offset-by-six {
		padding-left: 600px;
	}
	.container .offset-by-seven {
		padding-left: 700px;
	}
	.container .offset-by-eight {
		padding-left: 800px;
	}
	.container .offset-by-nine {
		padding-left: 900px;
	}
	.container .offset-by-ten {
		padding-left: 1000px;
	}
	.container .offset-by-eleven {
		padding-left: 1100px;
	}
}


/* #Base 960 Grid
================================================== */

@media only screen and (min-width: 960px) and (max-width: 1199px) {
	.container {
		position: relative;
		width: 960px;
		margin: 0 auto;
		padding: 0;
	}
	.container .column,
	.container .columns {
		float: left;
		display: inline;
		margin-left: 10px;
		margin-right: 10px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.row {
		margin-bottom: 20px;
	}
	/* Nested Column Classes */
	.column.alpha,
	.columns.alpha {
		margin-left: 0;
	}
	.column.omega,
	.columns.omega {
		margin-right: 0;
	}
	/* Base Grid */
	.container .one.column,
	.container .one.columns {
		width: 60px;
	}
	.container .two.columns {
		width: 140px;
	}
	.container .three.columns {
		width: 220px;
	}
	.container .four.columns {
		width: 300px;
	}
	.container .five.columns {
		width: 380px;
	}
	.container .six.columns {
		width: 460px;
	}
	.container .seven.columns {
		width: 540px;
	}
	.container .eight.columns {
		width: 620px;
	}
	.container .nine.columns {
		width: 700px;
	}
	.container .ten.columns {
		width: 780px;
	}
	.container .eleven.columns {
		width: 860px;
	}
	.container .twelve.columns {
		width: 940px;
	}
	.container .one-fifth.column {
		width: 172px;
	}
	.container .two-fifths.column {
		width: 364px;
	}
	.container .three-fifths.column {
		width: 556px;
	}
	.container .four-fifths.column {
		width: 748px;
	}
	/* Offsets */
	.container .offset-by-one {
		padding-left: 80px;
	}
	.container .offset-by-two {
		padding-left: 160px;
	}
	.container .offset-by-three {
		padding-left: 240px;
	}
	.container .offset-by-four {
		padding-left: 320px;
	}
	.container .offset-by-five {
		padding-left: 400px;
	}
	.container .offset-by-six {
		padding-left: 480px;
	}
	.container .offset-by-seven {
		padding-left: 560px;
	}
	.container .offset-by-eight {
		padding-left: 640px;
	}
	.container .offset-by-nine {
		padding-left: 720px;
	}
	.container .offset-by-ten {
		padding-left: 800px;
	}
	.container .offset-by-eleven {
		padding-left: 880px;
	}
}


/* #Tablet (Portrait)
================================================== */


/* Note: Design for a width of 768px */

@media only screen and (min-width: 768px) and (max-width: 959px) {
	.container {
		width: 768px;
	}
	.container .column,
	.container .columns {
		margin-left: 10px;
		margin-right: 10px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.column.alpha,
	.columns.alpha {
		margin-left: 0;
		margin-right: 10px;
	}
	.column.omega,
	.columns.omega {
		margin-right: 0;
		margin-left: 10px;
	}
	.alpha.omega {
		margin-left: 0;
		margin-right: 0;
	}
	.container .one.column,
	.container .one.columns {
		width: 44px;
	}
	.container .two.columns {
		width: 108px;
	}
	.container .three.columns {
		width: 172px;
	}
	.container .four.columns {
		width: 236px;
	}
	.container .five.columns {
		width: 300px;
	}
	.container .six.columns {
		width: 364px;
	}
	.container .seven.columns {
		width: 428px;
	}
	.container .eight.columns {
		width: 492px;
	}
	.container .nine.columns {
		width: 556px;
	}
	.container .ten.columns {
		width: 620px;
	}
	.container .eleven.columns {
		width: 684px;
	}
	.container .twelve.columns {
		width: 748px;
	}
	.container .one-fifth.column {
		width: 133.6px;
	}
	.container .two-fifths.column {
		width: 287.2px;
	}
	.container .three-fifths.column {
		width: 440.8px;
	}
	.container .four-fifths.column {
		width: 594.4px;
	}
	/* Offsets */
	.container .offset-by-one {
		padding-left: 64px;
	}
	.container .offset-by-two {
		padding-left: 128px;
	}
	.container .offset-by-three {
		padding-left: 192px;
	}
	.container .offset-by-four {
		padding-left: 256px;
	}
	.container .offset-by-five {
		padding-left: 320px;
	}
	.container .offset-by-six {
		padding-left: 384px;
	}
	.container .offset-by-seven {
		padding-left: 448px;
	}
	.container .offset-by-eight {
		padding-left: 512px;
	}
	.container .offset-by-nine {
		padding-left: 576px;
	}
	.container .offset-by-ten {
		padding-left: 640px;
	}
	.container .offset-by-eleven {
		padding-left: 704px;
	}
}


/*  #Mobile (Portrait)
================================================== */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	.container {
		width: 420px;
	}
	.container .columns,
	.container .column {
		margin-left: 0;
		margin-right: 0;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.container .one.column,
	.container .one.columns,
	.container .two.columns,
	.container .three.columns,
	.container .four.columns,
	.container .five.columns,
	.container .six.columns,
	.container .seven.columns,
	.container .eight.columns,
	.container .nine.columns,
	.container .ten.columns,
	.container .eleven.columns,
	.container .twelve.columns,
	.container .one-fifth.column,
	.container .two-fifths.column,
	.container .three-fifths.column,
	.container .four-fifths.column {
		width: 420px;
	}
	/* Offsets */
	.container .offset-by-one,
	.container .offset-by-two,
	.container .offset-by-three,
	.container .offset-by-four,
	.container .offset-by-five,
	.container .offset-by-six,
	.container .offset-by-seven,
	.container .offset-by-eight,
	.container .offset-by-nine,
	.container .offset-by-ten,
	.container .offset-by-eleven {
		padding-left: 0;
	}
}


/* #Mobile 
================================================== */

@media only screen and (min-width: 320px) and (max-width: 479px) {
	.container {
		width: 300px;
	}
	.container .columns,
	.container .column {
		margin-left: 0;
		margin-right: 0;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.container .one.column,
	.container .one.columns,
	.container .two.columns,
	.container .three.columns,
	.container .four.columns,
	.container .five.columns,
	.container .six.columns,
	.container .seven.columns,
	.container .eight.columns,
	.container .nine.columns,
	.container .ten.columns,
	.container .eleven.columns,
	.container .twelve.columns,
	.container .one-fifth.column,
	.container .two-fifths.column,
	.container .three-fifths.column,
	.container .four-fifths.column {
		width: 300px;
	}
	/* Offsets */
	.container .offset-by-one,
	.container .offset-by-two,
	.container .offset-by-three,
	.container .offset-by-four,
	.container .offset-by-five,
	.container .offset-by-six,
	.container .offset-by-seven,
	.container .offset-by-eight,
	.container .offset-by-nine,
	.container .offset-by-ten,
	.container .offset-by-eleven {
		padding-left: 0;
	}
}


/* #Mobile (Landscape)
================================================== */


/* Note: Design for a width of 320px */

@media only screen and (max-width: 319px) {
	.container {
		width: 220px;
	}
	.container .columns,
	.container .column {
		margin-left: 0;
		margin-right: 0;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.container .one.column,
	.container .one.columns,
	.container .two.columns,
	.container .three.columns,
	.container .four.columns,
	.container .five.columns,
	.container .six.columns,
	.container .seven.columns,
	.container .eight.columns,
	.container .nine.columns,
	.container .ten.columns,
	.container .eleven.columns,
	.container .one-fifth.column,
	.container .two-fifths.column,
	.container .three-fifths.column,
	.container .four-fifths.column {
		width: 220px;
	}
	/* Offsets */
	.container .offset-by-one,
	.container .offset-by-two,
	.container .offset-by-three,
	.container .offset-by-four,
	.container .offset-by-five,
	.container .offset-by-six,
	.container .offset-by-seven,
	.container .offset-by-eight,
	.container .offset-by-nine,
	.container .offset-by-ten,
	.container .offset-by-eleven {
		padding-left: 0;
	}
}


/* #Clearing
================================================== */


/* Self Clearing Goodness */

.container:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}


/* Use clearfix class on parent to clear nested columns,
    or wrap each row of columns in a <div class="row"> */

.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
	content: '\0020';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

.row:after,
.clearfix:after {
	clear: both;
}

.row,
.clearfix {
	zoom: 1;
}


/* You can also use a <br class="clear" /> to clear columns */

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}



/*  own css */
.right_icon{
    margin-right: 8px;
}

.container .own_two.columns {
    width: 600px;
}

/* (A) OUTER CONTAINER */
.hwrap {
    /* (A1) DIMENSIONS */
    width: 100%;
    height: 150px; /* OPTIONAL */
  
    /* (A2) COSMETICS */

    
    overflow: hidden; /* HIDE SCROLLBARS */
  }
  
  /* (B) MIDDLE CONTAINER - FLEX LAYOUT */
  .hmove {
    display: flex;
    position: relative;
    top: 0; right: 0;
  }
  
  /* (C) SLIDES - FORCE INTO ONE LONG HORIZONTAL ROW */
  .hslide {
    width: 100%;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 10px;
  }
  
  /* (D) SLIDE ANIMATION */
  @keyframes slideh {
    /* (D0) THE IDEA - USE KEYFRAMES TO SHIFT SLIDES *
    0% { right: 0; }
    33% { right: 100%; }
    66% { right: 200%; }
    100% { right: 0; }
   
    /* (D1) BUT THE ABOVE WILL SHIFT NON-STOP */
    /* SO WE ADD PAUSES BETWEEN EACH SLIDE */
    0% { right: 0; }
    30% { right: 0; }
    33% { right: 100%; }
    63% { right: 100%; }
    66% { right: 200%; }
    97% { right: 200%; }
    100% { right: 0; }
  }
  .hmove { animation: slideh linear 15s infinite; }
  .hmove:hover { animation-play-state: paused; }





  /* roller effect  */

  .slider{
  
    
    text-align: center;
    position: relative;
 
  }
  
  .caption{
    line-height: 100px;
    font-size: 60px;
    color: #ccc;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-shadow: 0px 5px 5px rgba(0,0,0,.25);
    margin-left: -300px;
  }
  
  .text-box{
    display: inline-block;
    position: relative;
  }
  
  .text-box div{
    display: inline-block;
    position: absolute;
    top: -200px;
    transform: rotateX(-90deg);
    opacity: 0;
    text-shadow: 0px 5px 5px rgba(0,0,0,.25);
    animation-timing-function: ease;
  }
  
  .text-box div:nth-child(1){
    animation: rollDown 10s forwards infinite;
  }
  
  .text-box div:nth-child(2){
    animation: rollDown2 10s forwards infinite;
  }
  
  .text-box div:nth-child(3){
    animation: rollDown3 10s forwards infinite;
  }
  
  @keyframes rollDown {
    0%{
      top: -200px;
      transform: rotateX(-90deg);
    }
    11%{
      top: -74px;
      transform: rotateX(0deg);
      opacity: 1;
    }
    22%{
      top: -74px;
      transform: rotateX(0deg);
      opacity: 1;
    }
    33%{
      top: 50px;
      transform: rotateX(30deg);
      opacity: 0;
    }
  }
  
  @keyframes rollDown2 {
    33%{
      top: -200px;
      transform: rotateX(-90deg);
    }
    44%{
      top: -74px;
      transform: rotateX(0deg);
      opacity: 1;
    }
    55%{
      top: -74px;
      transform: rotateX(0deg);
      opacity: 1;
    }
    66%{
      top: 50px;
      transform: rotateX(30deg);
      opacity: 0;
    }
  }
  
  @keyframes rollDown3 {
    66%{
      top: -200px;
      transform: rotateX(-90deg);
    }
    77%{
      top: -74px;
      transform: rotateX(0deg);
      opacity: 1;
    }
    88%{
      top: -74px;
      transform: rotateX(0deg);
      opacity: 1;
    }
    99%{
      top: 50px;
      transform: rotateX(30deg);
      opacity: 0;
    }
  }
  
  @keyframes slideColor{
    0%{
      background-color: #387780;
    }
    33%{
      background-color: #3f88c5;
    }
    66%{
      background-color: #588b8b;
    }
    100%{
      background-color: #387780;
    }
  }